*{box-sizing: border-box;}
img{
    max-width: 100%;
    height: auto;
}
body{
    margin: 0px;

}


header{
    position: relative;
    background-color: white;
    z-index: 2;
    padding-top: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 6px 10px  rgba(99, 110, 114,0.2);
}

header .firstdiv{
    display: none;
}
.containheader{
    width: 65%;
    margin: auto;
}

/* element1 */
.element1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.element1 a{
    background-color: rgb(0, 168, 255);
    color: white;
    text-decoration: none;
    padding: 2px 4px;
    
}

.element1 .spanDiv{
    display: none;
}
#closeIcon{
    display: none;
}






/* element 2 */
.element2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* firstdivinelement2 */
.firstdivinelement2 h1 span:first-child{
    border-top: 4px solid rgb(45, 52, 54); 
}

.firstdivinelement2 h1{
    font-size: 60px;
    margin: 0;
}

.firstdivinelement2 a{
    color: black;
    text-decoration: none;
}

.lightblue{
    border: solid 1px rgb(0, 168, 255) ;
    padding: 5px 15px;
    border-radius: 20px;
    background-color:rgb(0, 168, 255);
}
.green
{
    border: solid 1pxrgb(0, 168, 255) ;
    padding: 5px 15px;
    border-radius: 20px;
    background-color:rgb(0, 168, 255);
}

.violet{
    background-color:rgb(0, 168, 255);
    padding: 5px 15px;
    border-radius: 20px;
    background-color:rgb(0, 168, 255);

}
.darkblue{
    background-color:rgb(0, 168, 255);
    padding: 5px 15px;
    border-radius: 20px;
    background-color:rgb(0, 168, 255);
}

.styletextsecondpart{
    font-weight: lighter;
}


/* twodivinelement2  */
.twodivinelement2 h3 span{
    border-top: 4px solid rgb(45, 52, 54);
}

.twodivinelement2 h3{
    margin: 0px;
}



/* element 3 */
.element3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.element3 ul{
    display: flex;
    gap: 10px;
    padding: 0px;
}

.element3 ul li{
    list-style-type: none;
    
}
.element3 ul li a{
    color: white;
    text-decoration: none; 
}

.rightsidenav{
    text-align: end;
}

.rightsidenav button{
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgba(99, 110, 114,0.2);
   
}
.rightsidenav a{
    text-decoration: none;
    color: rgba(99, 110, 114);
    font-weight: bold;
}
.rightsidenav input{
    background-color: rgba(99, 110, 114,0.2);
    width: 45%;
    border-radius: 15px;
    border: none;
    padding: 7.5px;

}



/* menu responsive */
.menuResponsiv.active{
    top: 121px;
}

.menuResponsiv
{
    position: absolute;
    top: -190px;
    background-color: White;
    padding: 20px 20px 65px 20px;
    transition: top 1s ease-in-out;
}


/* firstdiv */
.menuResponsiv .divOne{
    padding-bottom: 20px;
    border-bottom: 1px solid  rgba(99, 110, 114,0.2);
}

.menuResponsiv .divOne button{
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgba(99, 110, 114,0.2);
   
}
.menuResponsiv .divOne a{
    text-decoration: none;
    color: rgba(99, 110, 114);
    font-weight: bold;
}
.menuResponsiv .divOne input{
    background-color: rgba(99, 110, 114,0.2);
    width: 20%;
    border-radius: 15px;
    border: none;
    padding: 7.5px;
}


/* uldiv */
.menuResponsiv ul{
    margin: 0;
    display: flex;
    gap: 15px;
    padding: 0px;
    padding: 20px 0px;
    border-bottom: 1px solid  rgba(99, 110, 114,0.2);
}
.menuResponsiv ul li{
    list-style-type: none;
    
}
.menuResponsiv ul li a{
    color: white;
    text-decoration: none;
    
}

/* divThree */
.divThree div:first-child{
    padding: 20px 0px;
    
}
.divThree div:first-child a{
    margin-right: 7px;
    font-weight: bold   ;
}
.lastDivinThreeDiv{
    padding-top: 20px ;
}
.lastDivinThreeDiv p{
    margin: 0;
}
.lastDivinThreeDiv a{

    text-decoration: none;
    color: rgb(0, 168, 255);
}


.divThree a{
    color: black;
    
}










/* section */
section{
    width: 65%;
    margin: auto;
}
section button {
    display: flex;
    gap: 5;
    color: white;
    align-items: center;
    text-align: center;
    padding: 2px 12px;
}

section button a{
    font-size: 14px;
    font-weight: bold;

}
section button a span{
    font-weight: lighter;
} 

section button a{
    text-decoration: none;
    color: white;
}


/* firstdiv */
.firstdivgridcontainergrid{  
    display: grid;
    grid-template-columns: 58% 35%;
    justify-content: space-between;
    margin-bottom: 50px;

}

.firsdivinseconddiv{
    text-align: justify;
}
section button{
    background-color:rgb(0, 168, 255);
    border: none;
    border-radius: 15px;
}



/* seconddiv */
.seconddivgridcontainergrid
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin-bottom: 90px;
}
.seconddivgridcontainergrid div img{
    max-width: 100%;
    height: auto;
}
.seconddivgridcontainergrid p
{
    text-align: justify;
}




/* threediv  */
.threediv{
    background-color: rgb(45, 52, 54);
    margin-bottom: 90px;
    padding: 10px;
    color: white;
}
.threediv a{
    color: rgb(0, 168, 255) ;
    text-decoration: none;
    font-weight: bold;
}
.containerflex0{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}





/* carouselStyle */
.grid0 p:first-child{
    margin: 0px;
    background-color: rgb(99, 110, 114);
    text-align: center;
    padding: 4px;
}
.grid1 p:first-child{
    background-color: rgb(99, 110, 114);
    margin: 0px;
    text-align: center;
    padding: 4px;

}
.grid2 p:first-child {
    background-color: rgb(99, 110, 114);
    margin: 0px;
    text-align: center;
    padding: 4px;
}

.grid2, .grid0 , .grid1 , .grid3 , .grid4{
    text-align: center;
}

.grid3 p:first-child {
    background-color: rgb(99, 110, 114);
    margin: 0px;
    text-align: center;
    padding: 4px;
}
.grid4 p:first-child{
    background-color: rgb(99, 110, 114);
    margin: 0px;
    text-align: center;
    padding: 4px;
}
.whiteLink a{
    color: white;
}








/* fourdiv */

.fourdivcontainergrid
{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    align-items: baseline;
    row-gap: 10px;
    margin-bottom: 90px;
    
}
.fourdivcontainergrid a{
    text-decoration: none;
    color: black;
}

.boldtext{
    font-weight: bold;
}



/* footer */
.footerTwo{
    display: none;

}
.footerOne{
    display: none;
    width: 65%;
    margin: auto;
    padding-bottom: 70px;
    text-align: center;
    font-weight: bold

}

footer p a {
    text-decoration: none;
    color: rgb(0, 168, 255);
}
footer a{
    color: black;

}
footer p {
    margin-bottom: 20px;
}
footer div{
    margin-bottom: 4px;
}
footer div a {
    padding-right: 8px;
}






/* Responsiv */
@media screen and (max-width: 1024px){

    /* element 1 */
    .element1 a{
        background-color: rgb(0, 168, 255);
        color: white;
        text-decoration: none;
        padding: 2px 4px;
    }
 
    .element1{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .element1 .spanDiv{
        display: block;
    }
    
    .element1 p{
    justify-self: center;
    margin:0 auto;
    }

    .element1 p{
        display: inline;
    }


    /* header responsive */
    .element3{
        display: none;
    }

    header{
        padding-top:20px ;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    header .containheader{
        padding: 0px 30px;
    }
    
    .containheader{
        width: 100%;
        margin: 0;
        padding: 30px 30px 20px 30px ;
    }
 
    .firstdivinelement2 h1{
        font-size: 30px;
        margin: 0;
    }

    .element2{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    /* section */
    section{
        width:  100%;
        margin: 0;
        padding: 0px 30px;
    }
    

 
    /* firstdiv */
    .firstdivgridcontainergrid{
        align-items: center;
    }

  


    /* seconddiv*/
    .seconddivgridcontainergrid
    {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        row-gap: 25px;
        margin-bottom: 90px;
    }
    .seconddivgridcontainergrid div img{
        max-width: 100%;
        height: auto;
    }
    .seconddivgridcontainergrid p
    {
        text-align: justify;
    } 
    

    /* footer */
    .footerOne {
        display: none;
        
    }
    .footerTwo{
        display: block;
        width: 100%;
        margin: 0;
        padding-bottom: 70px;
        text-align: center;
        font-weight: bold;
        padding: 0px 30px;
    }
    
}





/* responsiv screen <= 639px */
@media screen and (max-width : 639px) {

    /* header */
    header
    {
        margin-bottom: 0px;
        padding: 18px 0px;

    }

    header .element2{
        flex-direction: column;
        align-items: end;
        gap: 20px;  
        margin: 0;
        padding: 0;
        /* padding: 5px 0px; */
    }

    header .element2 .firstdivinelement2 h1 span:first-child{
        padding-top: 2px;
        border-top: 3px solid rgb(45, 52, 54); 
    }

    header .element2 .firstdivinelement2 h1 {
        font-size: 37px;
    }


    header .twodivinelement2 span{
        padding-top: 2px;
        border: none;
    }
    header .element2 .twodivinelement2 .textResponsive{
        border-top:3px solid rgb(45, 52, 54);
    }








    /* menu responsive */
   
    .menuResponsiv.active{
        top: 175px;
    
    }
    .menuResponsiv
    {
        position: absolute;
        top: -200px;
        background-color: White;
        padding: 20px 20px 65px 20px;
        transition: top 1s ease-in-out;
        width: 100%;
    }

    .menuResponsiv ul{

        flex-wrap: wrap;

    }



    /* section */
    section{
        padding: 0;
    }
 
    /* premiere div */
    .firstdivgridcontainergrid
    {
       display: block;
       margin-bottom: 30px;
    }

    .firstdivgridcontainergrid .firsdivinseconddiv
    {
        padding: 0px 20px;
    }


    .seconddivgridcontainergrid{
        grid-template-columns: auto;
        gap: 50px;
        padding: 0px 20px;
    }

    .threediv {
        margin-bottom: 20px;
        
    }

    .fourdivcontainergrid{
        grid-template-columns: auto;
        padding: 0px 20px;
        gap: 30px;
        
    }

    .fourdivcontainergrid  h4{
        margin: 0;
        margin: 10px 0px 0px 0px;
    }




    /* footer */
    .footerOne
    {
        display: block;
        width: 100%;
    }

    .footerTwo{
        display: none;
    }
}